services:
  # Serviço da Aplicação Flask/Gunicorn
  web:
    build: .
    restart: always
    expose:
      - "5000"
    env_file:
      - .env
    depends_on:
      - db
    command: ["gunicorn", "--bind", "0.0.0.0:5000", "--workers", "4", "run:app"]
    volumes:
      # Mapeia a pasta local de fotos para dentro do contentor
      # Assim, as fotos sobrevivem a um 'docker compose down'
      - ./app/static/profile_pics:/app/app/static/profile_pics

  # Serviço do Banco de Dados PostgreSQL
  db:
    image: postgres:13
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env

  # Serviço do Servidor Web Nginx (Proxy Reverso)
  nginx:
    image: nginx:stable-alpine
    restart: always
    ports:
      # Mapeia a porta 8080 do servidor para a porta 80 do Nginx
      - "8080:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - web

volumes:
  postgres_data: