#Framework Principal e Extensões
Flask
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
Flask-Mail
Flask-APScheduler

#Biblioteca da IA
google-generativeai>=0.3

#ORM
SQLAlchemy>=2.0

#Utilitários
python-dotenv
Markdown

#Dependências de Produção (para Gunicorn e PostgreSQL)
gunicorn
psycopg2-binary

email_validator

Pillow